.bubble {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: rise 10s ease-in infinite;
}

@keyframes rise {
  0% {
    bottom: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    bottom: 100%;
    transform: scale(0.5);
  }
}
