$table-breakpoint: 768px;

.table-container {
  overflow-x: auto;
  display: block;
  width: 100%;

  &__table {
    border-collapse: collapse;
    min-width: 600px;

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    thead {
      display: table;
      width: 100%;
      table-layout: fixed;

      th {
        background-color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 2;
      }
    }

    tbody {
      display: table;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    @media (min-width: $table-breakpoint) {
      thead,
      tbody {
        display: table;
        width: 100%;
      }

      tbody {
        max-height: none;
        overflow-y: visible;
      }
    }
  }
}
