.navbar {
  display: flex;
  justify-content: space-between; // 這將會把 logo 和 nav items 分別推到左右兩邊
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;

  &__logo {
    display: flex;
    align-items: center;
    flex: 1; // 確保 logo 部分佔據一定的空間

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }

    img {
      max-height: 50px;
    }

    .navbar__upload {
      margin-left: 1rem;
      display: none;

      &::file-selector-button {
        display: none;
      }
    }

    &:hover .navbar__upload {
      display: block;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: flex-end; // 確保 nav items 靠右
    flex: 2; // 給予更多空間以避免壓縮
  }

  &__item {
    margin-right: 1.5rem;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &--add {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link-edit {
    margin-left: 0.5rem;
    cursor: pointer;
    color: #007bff;

    &:hover {
      color: #0056b3;
    }
  }

  &__edit-fields {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
    width: 100%;
    width: 250px;
    border-radius: 5px;
  }

  &__input {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__delete-button {
    color: red;
    margin-top: 0.5rem;
    width: 100%;
  }

  &--edit {
    border: 1px dashed #ccc;
  }
}
