.socks-subscription {
  &__container {
    padding: 2rem;
    margin: 0 auto;
    background-color: #fff;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__content {
    flex: 1;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      margin-right: 2rem;
    }
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  &__button {
    background-color: #e53e3e;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 9999px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      background-color: #c53030;
    }
  }

  &__image-container {
    position: relative;
    flex: 1;
  }

  &__image {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__icon-text {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.5rem;
    color: #4a5568;
  }

  &__text {
    font-size: 0.875rem;
  }
}
