.banner-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;

  &__title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
  }

  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 2rem;
    max-width: 100%;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2rem;
      margin: 1rem;
    }
  }

  &__image-box {
    max-width: 980px;
    width: 100%;
    height: auto;
    border-radius: 50px;
    object-fit: cover;

    @media (max-width: 1024px) {
      max-width: 100%;
      border-radius: 30px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-sizing: border-box;
    @media (max-width: 1024px) {
      width: 90%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    @media (max-width: 1024px) {
      width: 60%;
    }
  }

  &__section-box {
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__small-image-box {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 50px;
    object-fit: cover;

    @media (max-width: 1024px) {
      max-width: 100%;
      border-radius: 30px;
    }
  }

  &__heading {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  &__description {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
    word-wrap: break-word;

    @media (max-width: 1024px) {
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
