$loading-circle-size: 20px;
$loading-circle-color: #3498db;
$loading-text-color: #333;
$loading-background-color: rgba(255, 255, 255, 0.8);
$loading-animation-duration: 1.5s;

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $loading-background-color;

  &__spinner {
    display: flex;
    justify-content: center;
  }

  &__spinner-circle {
    width: $loading-circle-size;
    height: $loading-circle-size;
    background-color: $loading-circle-color;
    border-radius: 50%;
    margin: 0 math.div($loading-circle-size, 4);
    animation: loading-bounce $loading-animation-duration infinite ease-in-out;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * math.div($loading-animation-duration, 3);
      }
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
    color: $loading-text-color;
  }
}

@keyframes loading-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
