.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
  background-color: var(--navbar-bg-color, #fff);
}

.navbar--edit {
  border: 1px dashed #ccc;
  z-index: 1; /* 確保編輯狀態下的 navbar 在其他元素之上 */
}

.navbar__logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar__upload {
  margin-left: 1rem;
  display: none;

  &::file-selector-button {
    display: none;
  }
}

.navbar__search {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.navbar__items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
  z-index: 5;
}

.navbar__item {
  margin-right: 1rem;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &--add {
    display: flex;
    align-items: center;
  }

  &.navbar__link-item {
    display: none;
    z-index: 5;
  }

  &.navbar__hamburger {
    display: flex;
  }

  @media (min-width: 1280px) {
    &.navbar__hamburger {
      display: none;
    }

    &.navbar__link-item {
      display: flex;
    }
  }
}

.navbar__link {
  text-decoration: none;
  color: var(--navitem-color, #000);
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.navbar__link-edit {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #007bff;

  &:hover {
    color: #0056b3;
  }
}

.navbar__edit-fields {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  width: 250px;
  border-radius: 5px;
  z-index: 2; /* 高於 .navbar--edit 的 z-index */
}

.navbar__input {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.navbar__delete-button {
  color: red;
  margin-top: 0.5rem;
  width: 100%;
}

.navbar__drawer-item {
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  color: var(--navitem-color, #000);

  &:last-child {
    border-bottom: none;
  }
}
